/*humanrer overrides master*/

@journal-logo:url("/plugins/themes/humanrer/svg/hrer-logo-text-as-path-thick.svg");
@journal-logo-hover:url("/plugins/themes/humanrer/svg/hrer-logo-text-as-path-thick-hover.svg");

@journal-logo-screen-desktop:url("/plugins/themes/humanrer/svg/hrer-logo-text-as-path.svg");
@journal-logo-screen-desktop-hover:url("/plugins/themes/humanrer/svg/hrer-logo-text-as-path-hover.svg");

@footer-wrapper-bg: #1D3662;

@site_nav_toggle_bg:transparent;
@site_nav_toggle_border:1px solid @site_nav_toggle_color;
@site_nav_toggle_color:#e0e4ff;
@footer-wrapper-bg: #233C5C;

@header-menu-height: 2rem;

@primary:#1D4081;