.abstract-toc ul {
  padding-left:0rem;
  
  list-style-type: none;
}

.abstract-toc a {
  font-weight: bold;
  
}

.abstract-toc li + li {
  margin-top:.5rem;
  
}

.abstract-toc h2 + h3 {
  padding-top: 1rem;
}

.abstract-toc h3 {
  font-size: 1.5em;
}
