/*master overrides default*/
@bg-border-color: transparent;
@header-border: 1px solid black;
@side-border: 1px solid #ccc;
@theme-button-bg: black;
@action-bg-compat: rgb(250,250,250);
@action-bg: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
@action-bg-hfa: @primary;
@header-button-bg:rgba(0,0,0,0.8);
@header-button-fg: white;
@header-button-bg-hover: white;
@header-button-fg-hover: black;
@action-border-radius: 5px;