/*njsr overrides master*/

@footer-wrapper-bg: whitesmoke;
@footer-wrapper-color: black;

@footer-link-color:black;
@footer-link-hover-color:white;
@footer-link-bg:transparent;
@footer-link-bg-hover:black;

@footer-hosted-by-logo:url(/plugins/themes/master/svg/OsloMet-logo-black-left.svg),url(/plugins/themes/master/svg/OsloMet-logo-white-left.svg);
@footer-hosted-by-logo-hover:@footer-hosted-by-logo;

@header-bg-overlay: linear-gradient(to bottom, #f5f6f6 0%, #dbdce2 21%, #b8bac6 74%, #dddfe3 88%, #dddfe3 88%, #f5f6f6 100%);
