/*njsr overrides master*/

@footer-wrapper-bg: whitesmoke;
@footer-wrapper-color: black;

@footer-link-color:black;
@footer-link-hover-color:white;
@footer-link-bg:transparent;
@footer-link-bg-hover:black;

@footer-hosted-by-logo:url(/plugins/themes/master/svg/OsloMet-logo-black-left.svg),url(/plugins/themes/master/svg/OsloMet-logo-white-left.svg);
@footer-hosted-by-logo-hover:@footer-hosted-by-logo;

@header-bg-overlay: linear-gradient(to bottom, #f5f6f6 0%, #dbdce2 21%, #b8bac6 74%, #dddfe3 88%, #dddfe3 88%, #f5f6f6 100%);

@site_nav_toggle-color: black;
@site_nav_toggle-color-hover: black;
@site_nav_toggle-border: 1px solid @site_nav_toggle-color;
@site_nav_toggle-border-hover: 1px solid @site_nav_toggle-color-hover;
@site_nav_toggle-bg: rgba(255,255,255,0.7);
@site_nav_toggle-bg-hover: white;
@site_nav_toggle-bg-transform: @site_nav_toggle-bg-hover;

@header-button-fg: black;
@header-button-bg: rgba(255,255,255,0.9);

@header-button-fg-hover: white;
@header-button-bg-hover:rgba(0,0,0,0.7);