/*radiographyopen overrides master*/

@footer-wrapper-bg:#605647;
@header-bg-overlay: linear-gradient(0deg, rgba(0,0,0,.2) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0.3) 100%),
                    linear-gradient(90deg, rgba(0,0,0,.3) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,.3) 100%);
@footer-bg-overlay: linear-gradient(180deg, rgba(0,0,0,.2) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0.3) 100%),
                    linear-gradient(90deg, rgba(0,0,0,.3) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,.3) 100%);
@header-color: white;
@header-color-hover: rgb(255, 245, 153);

