/*formakademisk overrides master*/

a[id^=newRoundTabContainer-newRound-button] {pointer-events: none; position: relative; color: gray;}
a[id^=newRoundTabContainer-newRound-button]::after {
    content: " (Deactivated in theme)";
}

html[lang=nb-NO] a[id^=newRoundTabContainer-newRound-button]::after {
    content: " (Deaktivert i theme)";
}

/* hide two of the reviewer.article.decision options which the journal doesn't want to use */
#recommendation option[value="4"], #recommendation option[value="6"] { 
    display: none;
}

